@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    /* font-family: "Lato", sans-serif; */font-family: "Poppins", sans-serif;
}

.active {
  color: rgb(0, 255, 76);
  border-bottom: 1px solid rgb(0, 255, 30);
}


.animated-background {
  background-size: 400%;

  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

@keyframes animation {
  0%,
  100% {
      background-position: 0% 50%;
  }
  
  50% {
      background-position: 100% 50%;
  }
}